<h1>Scrabbles!</h1>
<ul class="list-group">
  <% @scrabbles.each do |scrabble| %>
    <li class="list-group-item" id="scrabbles">
    <div class="scrabble-title">
      <%= link_to "Game #{scrabble.id}:", scrabble_path(scrabble) %>
    </div>
    <div class="scrabble-description">
      Players: <%= scrabble.num_of_players %> 
      <div>
        <% scrabble.players.each do |player| %>
          <%= player.name %><% unless player == scrabble.players.last %>,<% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <li class="list-group-item" id="start-new-scrabble">
    <%= link_to 'Start New Scrabble', new_scrabble_path %>
  </li>
</ul>
