<div class="enter-new-word-title">
  Turn <%= @scrabble.current_turn %>: Enter a New Word, <%= @player.name %>
</div>
<%= form_for ([@scrabble, @player, @player.words.build]) do |f| %>
<%= render "words/form",  {f: f, action: "new"} %>
<% end %>

<script>
var word = "";
$(".word-char").keyup(function () {
    var maxLength = $(this).attr('maxlength');

    if($(this).val().length == maxLength) {
      if($(this).attr("id") < 15) {
        nextId = parseInt($(this).attr("id")) + 1;
        $("#"+nextId).focus();
      }
    }
});

$(".word-char").keyup(function(e) {
  if (e.keyCode == 8) {
      if (this.id != "1") {
        prevId = parseInt($(this).attr("id")) - 1;
        $("#"+prevId).focus();
      }
  }
});

$(".double-letter-checkbox").change(function () {
  id = $(this).attr("id").replace("double", "triple")
  if($('#'+id).is(':checked')) {
    $('#'+id).prop('checked', false);
  }
});


$(".triple-letter-checkbox").change(function () {
  id = $(this).attr("id").replace("triple", "double")
  if($('#'+id).is(':checked')) {
    $('#'+id).prop('checked', false);
  }
});

$("#double-word-checkbox").change(function () {
  if($("#triple-word-checkbox").is(':checked')) {
      $("#triple-word-checkbox").prop('checked', false);
  }
});

$("#triple-word-checkbox").change(function () {
  if($("#double-word-checkbox").is(':checked')) {
      $("#double-word-checkbox").prop('checked', false);
  }
});

$("form").submit(function () {
  word = ""
  for (i = 1; i <= 15; i++){
    word += $("#"+i).val();
  }
  $("#word-input").val(word);
});

$('form').click(function() {
    $('#1').focus();
});

document.getElementById("reset-btn").onclick = function() { 
  for (i = 1; i < 15; i++) {
    document.getElementById(i).value = "";
  }

  var inputs=document.getElementsByTagName("input");
  for (var i in inputs) {
    if (inputs[i].type=="checkbox") inputs[i].checked=false;
  }

  document.getElementById("1").focus();
};

</script>