/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

body
{
    font-family: 'Roboto Slab', serif;
    font-size: 25px;

    width: 100%;
    height: 100vh;
    padding-top: 20px;

    text-align: left;

    opacity: .85;
    color: #427a63;
    /* background: linear-gradient(70deg, #0fb8ad 0%, #b0e9f1 51%, #c2f2de 75%); */
    /* background: #A9E4CC; */
    /* background: rgba(140, 220, 213, .85) */
    background: #8CDCD5;
}

div.word-char
{
	width: 38px;
	margin-right: 1px;
}

div.new-word-input-label
{
    font-size: 0.65em;
    font-weight: 1000;
    text-align: center;
    line-height: 1.1em;
    width: 75px;
    margin-right: 5px;
    margin-left: 5px;
}

div.word-input-letters
{
    width: 800px;
}

input.word-char
{
	width: 41.5px;
    height: 62.25px;
    border-style: solid;
    border-color: #427a63;
    padding: 5.5px;
    margin-right: 7.4px;
}

div.double-word-check
{
    font-size: 0.7em;
    margin-right: 10px;
}

div.triple-word-check
{
    font-size: 0.7em;
}

div.leaderboard
{
    font-size: 0.8em;
}

div.page-sub-title
{
    font-size: 1.4em;
    text-align: left;
    margin-bottom: 10px;
}

div.player-words-list-name
{
    font-size: 1em;
}

div.player-words-list
{
    font-size: 0.7em;
}

#scrabble-main
{
    margin: auto;
    width: 900px;
}

#scrabbles,
#scrabble
{
    background-color: rgba(206, 230, 220, .65);
}

#double-letter-checkbox
{
	width: 26px;
	margin-left: 5px;
}

#triple-letter-checkbox
{
	width: 26px;
	margin-left: 5px;
}

#start-new-scrabble
{
    text-align: center;

    color: #02bfa1;
    background-color: rgba(206, 230, 220, .65);
}

#start-new-scrabble > a
{
    color: #02bfa1;
}

#double-word-check
{
	width: 125px;
}

#triple-word-check
{
	width: 125px;
}

#each-word-on-show
{
	margin-top: 1px;
	margin-bottom: 1px;
}

#word-input-box
{
	background-image: url('square-letter.jpg');
	background-size: 1.55em;
	padding: 0;
	width: 415px;
	letter-spacing: 1.55em;
}

#create-scrabble
{
    text-align: center;

    color: #02bfa1;
    background-color: rgba(206, 230, 220, .65);
}

#scrabble-bottom-nav
{
    font-size: 18px;

    text-align: center;

    background-color: rgba(206, 230, 220, .65);

    font-color: #f3f3f3;
}

#scrabble-bottom-nav > a
{
    font-size: 18px;

    text-align: center;

    color: #02bfa1;
}

div.double-letter-check
{
    margin-left: 2px;
    width: 750px;
}

div.triple-letter-check
{
    margin-left: 2px;
    width: 750px;
}

div.new-word-submit-btn
{
	margin-top: 10px;
	margin-left: 310px;
}

div.scrabble-title
{
    font-size: 40px;

    text-align: center;

    opacity: 1;
    color: #02bfa1;
}

div.scrabble-title > a
{
    color: #02bfa1;
}

div.scrabble-title > a:hover
{
    text-decoration: none;

    color: #f3f3f3;
}

div.scrabble-description
{
    font-size: 20px;

    text-align: center;
}

div.page-title
{
    font-size: 40px;
    font-weight: 450;

    margin-bottom: 30px;

    text-align: center;

    color: #588c76;
}

div.new-scrabble-num-of-players
{
    font-size: 1.8em;
    font-weight: 350;
    
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
}

div.new-scrabble-description
{
    font-size: 22px;

    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
}

div.remaining-letters-label
{
    font-size: 1em;
    margin-bottom: 10px;
}

div.remaining-letters
{
    font-size: 0.9em;
}

div.nav-link,
div.nav-link > a
{
    font-size: 19px;

    text-align: center;
    text-decoration: underline;

    color: #427a63;
}

div.enter-new-word-title
{
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: 700;
    font-style: italic;
}

input[type=submit]#bottom-btn
{
    font-size: 0.8em;

    width: 200px;
    padding: 1% 1%;

    color: #fff;
    border-radius: 10px;
    background-color: #427a63;
}

input[type=number]#new-num-of-players-text
{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 0.8em;
    width: 10vw;
    padding: 0.2vw 0.2vw;

    color: #427a63;
    border: 1px solid #74b69a;
    border-radius: 10px;
    background-color: #a4e1c7;
}

input[type=text]#create-new-player-name-input
{
    margin-bottom: 10px;
    text-align: left;
    font-size: 0.8em;
    width: 300px;
    padding: 5px 5px;

    color: #427a63;
    border: 1px solid #74b69a;
    border-radius: 10px;
    background-color: #a4e1c7;
}

input[type=number]#create-new-player-turn-input
{
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.8em;
    width: 6vw;
    padding: 5px 5px;

    color: #427a63;
    border: 1px solid #74b69a;
    border-radius: 10px;
    background-color: #a4e1c7;
}

#num-of-players-dropdown
{
    width: 100px;
    text-indent: 20px;
    color: #427a63;
}

div#create-new-player-name-label
{
    font-size: 1.1em;
    font-weight: 350;
    
    margin-left: 200px;
    margin-right: 18px;
    text-align: left;
}

div#create-new-player-name
{
    font-size: 1em;
    font-weight: 350;
    
    text-align: left;
}

div#create-new-player-turn-label
{
    font-size: 1.1em;
    font-weight: 350;
    
    margin-left: 200px;
    margin-right: 32px;
    margin-top: 10px;
    text-align: left;
}

div#create-new-player-turn
{
    font-size: 1em;
    font-weight: 350;

    margin-top: 10px;
    text-align: left;
}

input[type=checkbox].double-letter-checkbox,
input[type=checkbox].triple-letter-checkbox
{
    position:absolute; 
    z-index:-1000; 
    left:-1000px; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    padding:0; 
    border:0;
}

input[type=checkbox].double-letter-checkbox + label.double-letter-checkbox-label,
input[type=checkbox].triple-letter-checkbox + label.triple-letter-checkbox-label
{
    padding-left:30px;
    height:40px;
    width:40px; 
    display:inline-block;
    line-height:40px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:40px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].double-letter-checkbox:checked + label.double-letter-checkbox-label {
    background-image:url('double-letter.png');
}

label.double-letter-checkbox-label {
    background-image:url('empty.png');
    background-size: 36px 36px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=checkbox].triple-letter-checkbox:checked + label.triple-letter-checkbox-label {
    background-image:url('triple-letter.png');
}

label.triple-letter-checkbox-label {
    background-image:url('empty.png');
    background-size: 36px 36px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.word-char-div
{
    width: 50px;
    text-align: center;
    margin-bottom:0;
}

.form-group.row#input-letter
{
    margin-bottom: 1vw;
}

.form-group.row#each-letter-checkbox
{
    margin-bottom: 0;
}

@media all and (max-width:900px) 
{
    body
    {
        font-size: 25px;

        width: 100%;
        height: 100vh;
        padding-top: 20px;

        text-align: left;

        opacity: .85;
    }

    div.word-char
    {
        width: 5vw;
        margin-right: 1vw;
    }

    div.new-word-input-label
    {
        font-size: 0.5em;
        font-weight: 1000;
        text-align: center;
        line-height: 1.1em;
        width: 5vw;
        margin-right: 2vw;
        margin-top: 0.6vw;
    }

    div.word-input-letters
    {
        margin-left: 3.4vw;
        width: 75vw;
    }

    input.word-char
    {
        width: 4vw;
        height: 7vw;
        border-style: solid;
        border-color: #427a63;
        padding: 2px;
        margin-right: 0.71vw;
    }

    div.double-word-check
    {
        font-size: 0.7em;
        margin-right: 10px;
    }

    div.triple-word-check
    {
        font-size: 0.7em;
    }


    #scrabble-main
    {
        margin: auto;
        width: 95%;
    }

    #scrabbles,
    #scrabble
    {
        background-color: rgba(206, 230, 220, .65);
    }

    #double-letter-checkbox
    {
        width: 5vw;
        margin-left: 5px;
    }

    #triple-letter-checkbox
    {
        width: 5vw;
        margin-left: 5px;
    }

    #start-new-scrabble
    {
        text-align: center;

        color: #02bfa1;
        background-color: rgba(206, 230, 220, .65);
    }

    #start-new-scrabble > a
    {
        color: #02bfa1;
    }

    #double-word-check
    {
        width: 125px;
    }

    #triple-word-check
    {
        width: 125px;
    }

    #each-word-on-show
    {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    #word-input-box
    {
        background-image: url('square-letter.jpg');
        background-size: 1.55em;
        padding: 0;
        width: 415px;
        letter-spacing: 1.55em;
    }

    #create-scrabble
    {
        text-align: center;

        color: #02bfa1;
        background-color: rgba(206, 230, 220, .65);
    }

    #scrabble-bottom-nav
    {
        font-size: 18px;

        text-align: center;

        background-color: rgba(206, 230, 220, .65);

        font-color: #f3f3f3;
    }

    #scrabble-bottom-nav > a
    {
        font-size: 18px;

        text-align: center;

        color: #02bfa1;
    }

    div.double-letter-check
    {
        margin-left: 1vw;
        width: 72vw;
    }

    div.triple-letter-check
    {
        margin-left: 1vw;
        width: 72vw;
    }

    div.new-word-submit-btn
    {
        margin-top: 10px;
        margin-left: 30vw;
    }

    div.scrabble-title
    {
        font-size: 40px;

        text-align: center;

        opacity: 1;
        color: #02bfa1;
    }

    div.scrabble-title > a
    {
        color: #02bfa1;
    }

    div.scrabble-title > a:hover
    {
        text-decoration: none;

        color: #f3f3f3;
    }

    div.scrabble-description
    {
        font-size: 20px;

        text-align: center;
    }

    div.page-title
    {
        font-size: 40px;
        font-weight: 450;

        margin-bottom: 30px;

        text-align: center;

        color: #588c76;
    }

    div.new-scrabble-num-of-players
    {
        font-size: 1.8em;
        font-weight: 350;
        
        margin-right: 5%;
        margin-left: 5%;
        text-align: center;
    }

    div.new-scrabble-description
    {
        font-size: 22px;

        margin-top: 3%;
        margin-right: 5%;
        margin-left: 5%;
    }

    div.remaining-letters-label
    {
        font-size: 1em;
        margin-bottom: 10px;
    }

    div.remaining-letters
    {
        font-size: 0.9em;
    }

    div.nav-link,
    div.nav-link > a
    {
        font-size: 19px;

        text-align: center;
        text-decoration: underline;

        color: #427a63;
    }

    div.enter-new-word-title
    {
        margin-bottom: 20px;
        font-size: 1.5em;
        font-weight: 700;
        font-style: italic;
    }

    div.leaderboard
    {
        font-size: 2.5vw;
    }

    div.page-sub-title
    {
        font-size: 1.4em;
        text-align: left;
        margin-bottom: 10px;
    }

    div.player-words-list-name
    {
        font-size: 2.5vw;
    }

    div.player-words-list
    {
        font-size: 2vw;
    }


    input[type=submit]#bottom-btn
    {
        font-size: 0.8em;

        width: 200px;
        padding: 1% 1%;

        color: #fff;
        border-radius: 10px;
        background-color: #427a63;
    }

    input[type=number]#new-num-of-players-text
    {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 0.8em;
        width: 10vw;
        padding: 0.2vw 0.2vw;

        color: #427a63;
        border: 1px solid #74b69a;
        border-radius: 10px;
        background-color: #a4e1c7;
    }

    input[type=text]#create-new-player-name-input
    {
        margin-bottom: 10px;
        text-align: left;
        font-size: 0.8em;
        width: 300px;
        padding: 5px 5px;

        color: #427a63;
        border: 1px solid #74b69a;
        border-radius: 10px;
        background-color: #a4e1c7;
    }

    input[type=number]#create-new-player-turn-input
    {
        margin-bottom: 10px;
        text-align: center;
        font-size: 0.8em;
        width: 6vw;
        padding: 5px 5px;

        color: #427a63;
        border: 1px solid #74b69a;
        border-radius: 10px;
        background-color: #a4e1c7;
    }

    div#create-new-player-name-label
    {
        font-size: 1.1em;
        font-weight: 350;
        
        margin-left: 20vw;
        margin-right: 18px;
        text-align: left;
    }

    div#create-new-player-name
    {
        font-size: 1em;
        font-weight: 350;
        
        text-align: left;
    }

    div#create-new-player-turn-label
    {
        font-size: 1.1em;
        font-weight: 350;
        
        margin-left: 20vw;
        margin-right: 4vw;
        margin-top: 10px;
        text-align: left;
    }

    div#create-new-player-turn
    {
        font-size: 1em;
        font-weight: 350;

        margin-top: 10px;
        text-align: left;
    }

    input[type=checkbox].double-letter-checkbox,
    input[type=checkbox].triple-letter-checkbox
    {
        position:absolute; 
        z-index:-1000; 
        left:-1000px; 
        overflow: hidden; 
        clip: rect(0 0 0 0); 
        height:1px; 
        width:1px; 
        padding:0; 
        border:0;
    }

    input[type=checkbox].double-letter-checkbox + label.double-letter-checkbox-label,
    input[type=checkbox].triple-letter-checkbox + label.triple-letter-checkbox-label
    {
        padding-left:30px;
        height:4vw;
        width:4vw; 
        display:inline-block;
        line-height:4vw;
        background-repeat:no-repeat;
        background-position: 0 0;
        font-size:4vw;
        vertical-align:middle;
        cursor:pointer;
    }

    input[type=checkbox].double-letter-checkbox:checked + label.double-letter-checkbox-label {
        background-image:url('double-letter.png');
    }

    label.double-letter-checkbox-label {
        background-image:url('empty.png');
        background-size: 4vw 4vw;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    input[type=checkbox].triple-letter-checkbox:checked + label.triple-letter-checkbox-label {
        background-image:url('triple-letter.png');
    }

    label.triple-letter-checkbox-label {
        background-image:url('empty.png');
        background-size: 3.9vw 3.9vw;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    div.word-char-div
    {
        width: 5vw;
        text-align: center;
        margin-bottom:0;
    }

    .form-group.row#input-letter
    {
        margin-bottom: 1vw;
    }

    .form-group.row#each-letter-checkbox
    {
        margin-bottom: 0;
        margin-left:0;
        margin-right: 0;
    }
}