/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

body {
    background: #8CDCD5; /* background: linear-gradient(70deg, #0fb8ad 0%, #b0e9f1 51%, #c2f2de 75%); */ /* background: #A9E4CC; */ /* background: rgba(140, 220, 213, .85) */
    color: #427a63;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    height: 100vh;
    opacity: .85;
    padding-top: 20px;
    text-align: left;
    width: 100%; }
 
 
#create-scrabble {
    background-color: rgba(206, 230, 220, .65);
    color: #02bfa1;
    text-align: center; }
 
 
div#create-new-player-name {
    font-size: 1em;
    font-weight: 350;
    text-align: left; }
 
 
div#create-new-player-name-label {
    font-size: 1.1em;
    font-weight: 350;
    margin-left: 200px;
    margin-right: 18px;
    text-align: left; }
 
 
div#create-new-player-turn {
    font-size: 1em;
    font-weight: 350;
    margin-top: 10px;
    text-align: left; }
 
 
div#create-new-player-turn-label {
    font-size: 1.1em;
    font-weight: 350;
    margin-left: 200px;
    margin-right: 32px;
    margin-top: 10px;
    text-align: left; }
 
 
div.double-letter-check {
    margin-bottom:0;
    margin-left: 0px;
    width: 800px; }
 
 
div.double-word-check {
    font-size: 0.7em;
    margin-right: 10px; }
 
 
div.enter-new-word-title {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 20px; }
 
 
div.leaderboard { font-size: 0.8em; }
 
 
div.nav-link,
div.nav-link > a {
    color: #427a63;
    font-size: 19px;
    text-align: center;
    text-decoration: underline; }
 
 
div.new-scrabble-description {
    font-size: 22px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%; }
 
 
div.new-scrabble-num-of-players {
    font-size: 1.8em;
    font-weight: 350;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center; }
 
 
div.new-word-input-label {
    font-size: 0.65em;
    font-weight: 1000;
    line-height: 1.1em;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    width: 75px; }
 
 
div.new-word-submit-btn {
    margin-left: 310px;
    margin-top: 10px; }
 
 
div.page-sub-title {
    font-size: 1.4em;
    margin-bottom: 10px;
    text-align: left; }
 
 
div.page-title {
    color: #588c76;
    font-size: 40px;
    font-weight: 450;
    margin-bottom: 30px;
    text-align: center; }
 
 
div.player-words-list { font-size: 0.7em; }
 
 
div.player-words-list-name { font-size: 1em; }
 
 
div.remaining-letters { font-size: 0.9em; }
 
 
div.remaining-letters-label {
    font-size: 1em;
    margin-bottom: 10px; }
 
 
div.scrabble-description {
    font-size: 20px;
    text-align: center; }
 
 
div.scrabble-title {
    color: #02bfa1;
    font-size: 40px;
    opacity: 1;
    text-align: center; }
 
    div.scrabble-title > a { color: #02bfa1; }
 
        div.scrabble-title > a:hover {
            color: #f3f3f3;
            text-decoration: none; }
 
 
div.triple-letter-check { width: 800px; }
 
 
div.triple-word-check { font-size: 0.7em; }
 
 
div.word-char {
    margin-right: 0;
    width: 38px; }
 
 
div.word-input-letters {
    margin-left: 0px;
    width: 780px; }
 
 
#double-letter-checkbox { width: 26px; }
 
 
#double-word-check { width: 125px; }
 
 
#each-word-on-show {
    margin-bottom: 1px;
    margin-top: 1px; }
 
 
.form-group.row#each-letter-checkbox {
    margin-bottom: 0;
    margin-top: 0; }
 
 
.form-group.row#each-letter-input {
    margin-bottom: 10px;
    margin-top: 0; }
 
 
input.word-char {
    border-color: #427a63;
    border-style: solid;
    float: left;
    height: 62.25px;
    margin-right: 5.2px;
    padding: 5.5px;
    width: 46px; }
 
 
input[type=checkbox].double-letter-checkbox + label.double-letter-checkbox-label,
input[type=checkbox].triple-letter-checkbox + label.triple-letter-checkbox-label {
    background-position: 0 0;
    background-repeat:no-repeat;
    cursor:pointer;
    display:inline-block;
    font-size: 45px;
    height: 45px;
    line-height: 45px;
    margin-right:0;
    padding-left:0px;
    vertical-align:middle;
    width: 45px; }
 
 
input[type=checkbox].double-letter-checkbox,
input[type=checkbox].triple-letter-checkbox {
    border:0;
    clip: rect(0 0 0 0);
    height:1px;
    left:-1000px;
    overflow: hidden;
    padding:0;
    position:absolute;
    width:1px;
    z-index:-1000; }
 
 
input[type=checkbox].double-letter-checkbox:checked + label.double-letter-checkbox-label { background-image:url('double-letter.png'); }
 
 
input[type=checkbox].triple-letter-checkbox:checked + label.triple-letter-checkbox-label { background-image:url('triple-letter.png'); }
 
 
input[type=number]#create-new-player-turn-input {
    background-color: #a4e1c7;
    border-radius: 10px;
    border: 1px solid #74b69a;
    color: #427a63;
    font-size: 0.8em;
    margin-bottom: 10px;
    padding: 5px 5px;
    text-align: center;
    width: 6vw; }
 
 
input[type=number]#new-num-of-players-text {
    background-color: #a4e1c7;
    border-radius: 10px;
    border: 1px solid #74b69a;
    color: #427a63;
    font-size: 0.8em;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0.2vw 0.2vw;
    text-align: center;
    width: 10vw; }
 
 
input[type=submit]#bottom-btn {
    background-color: #427a63;
    border-radius: 10px;
    color: #fff;
    font-size: 0.8em;
    padding: 1% 1%;
    width: 200px; }
 
 
input[type=text]#create-new-player-name-input {
    background-color: #a4e1c7;
    border-radius: 10px;
    border: 1px solid #74b69a;
    color: #427a63;
    font-size: 0.8em;
    margin-bottom: 10px;
    padding: 5px 5px;
    text-align: left;
    width: 300px; }
 
 
label.double-letter-checkbox-label {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background-image:url('empty.png');
    background-size: 44px 44px;
    user-select: none; }
 
 
label.triple-letter-checkbox-label {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background-image:url('empty.png');
    background-size: 44px 44px;
    user-select: none; }
 
 
#num-of-players-dropdown {
    color: #427a63;
    text-indent: 20px;
    width: 100px; }
 
 
#scrabble-bottom-nav {
    background-color: rgba(206, 230, 220, .65);
    font-color: #f3f3f3;
    font-size: 18px;
    text-align: center; }
 
    #scrabble-bottom-nav > a {
        color: #02bfa1;
        font-size: 18px;
        text-align: center; }
 
 
#scrabble-main {
    margin: auto;
    width: 900px; }
 
 
#scrabbles,
#scrabble { background-color: rgba(206, 230, 220, .65); }
 
 
#start-new-scrabble {
    background-color: rgba(206, 230, 220, .65);
    color: #02bfa1;
    text-align: center; }
 
    #start-new-scrabble > a { color: #02bfa1; }
 
 
#triple-letter-checkbox { width: 26px; }
 
 
#triple-word-check { width: 125px; }
 
 
#word-input-box {
    background-image: url('square-letter.jpg');
    background-size: 1.55em;
    letter-spacing: 1.55em;
    padding: 0;
    width: 415px; }
 

@media all and (max-width:900px) 
{

    body {
        background: #8CDCD5; /* background: linear-gradient(70deg, #0fb8ad 0%, #b0e9f1 51%, #c2f2de 75%); */ /* background: #A9E4CC; */ /* background: rgba(140, 220, 213, .85) */
        color: #427a63;
        font-family: 'Roboto Slab', serif;
        font-size: 2.5vw;
        height: 100vh;
        opacity: .85;
        padding-top: 20px;
        text-align: left;
         }
     
    #scrabble-main {
        margin: auto;
        width: 96vw;
    }

    div.word-input-letters {
        margin-left: 0px;
        width: 83vw; }

    div.new-word-input-label {
        font-size: 1.8vw;
        font-weight: 1000;
        line-height: 2vw;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        margin-top: 0.5vw;
        text-align: center;
        width: 6vw; }

    input.word-char {
        border-color: #427a63;
        border-style: solid;
        float: left;
        /* height: 62.25px; */
        height: 8vw;
        margin-right: 0.5vw;
        padding: 0.55vw;
        /* width: 46px;  */
        width: 5vw;}

    div.double-letter-check {
        margin-bottom:0;
        margin-left: 0vw;
        width: 83vw; }

    div.triple-letter-check { width: 83vw; }

    input[type=checkbox].double-letter-checkbox + label.double-letter-checkbox-label,
    input[type=checkbox].triple-letter-checkbox + label.triple-letter-checkbox-label {
        background-position: 0 0;
        background-repeat:no-repeat;
        cursor:pointer;
        display:inline-block;
        font-size: 0.45vw;
        height: 5vw;
        line-height: 4.5vw;
        margin-right:0.1vw;
        padding-left:0px;
        vertical-align:middle;
        width: 4.8vw; }
     
     
    input[type=checkbox].double-letter-checkbox,
    input[type=checkbox].triple-letter-checkbox {
        border:0;
        clip: rect(0 0 0 0);
        height:1px;
        left:-1000px;
        overflow: hidden;
        padding:0;
        position:absolute;
        width:1px;
        z-index:-1000; }
     
    label.double-letter-checkbox-label {
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        background-image:url('empty.png');
        background-size: 4.9vw 4.9vw;
        user-select: none; }
 
 
    label.triple-letter-checkbox-label {
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        background-image:url('empty.png');
        background-size: 4.9vw 4.9vw;
        user-select: none; }
 
    div.double-word-check {
        > label{
            vertical-align: middle;
        }
        margin-right: 2vw;}

    div.triple-word-check {
        > label{
            vertical-align: middle;
        }
    }

    #double-word-checkbox, #triple-word-checkbox
    {
        width: 3vw;
    }

    div.new-word-submit-btn {
        margin-top: 1vw;
        margin-left: 25vw;
        > #new-word-submit, #new-word-submit-pass{
            font-size: 2vw;
        }
    }

    #each-player-words
    {
        padding-left: 1vw;
        padding-right: 1vw;
    }

    div.page-title {
        color: #588c76;
        font-size: 5vw;
        font-weight: 450;
        margin-bottom: 3vw;
        text-align: center; }
}